.all-products {
    margin: auto;
    width: $desktop-width;

    @media (max-width: $tablet-breakpoint) {
        width: 735px;
        padding: $site-padding;
    }

    @media (max-width: 767px) {
        width: $mobile-width;
        padding: $site-padding;
    }
  

}

.all-products-wrap {
    display: flex;
    justify-content: center;
}



@media (max-width: $tablet-breakpoint) {
    .last_card {
        display: none;
    }
}


