// .background-wallpaper {
//     margin: 0 auto;
//     background-color: #F7F7F7;
// }

.slider {
    display: flex;
	justify-content: space-between;
	align-items: center;
    // margin: 0 auto;
    background-color: #F7F7F7;
}

.slider-arrov {
    padding: 8px;
    background-color: #2A2A2A;
    border: 1px solid #2A2A2A;
}

.woman-wallpaper {
    margin-top: 11px;
}

